<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adg.momo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.ModeChoose"></activity>
        <activity
            android:name=".View.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.WrongBook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.FinsihActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.WordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Dictionary_Choose"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/QMUI.Compat.NoActionBar" />
        <activity
            android:name=".View.Wordlist_Choose"
            android:screenOrientation="portrait"
            android:theme="@style/QMUI.Compat.NoActionBar" />
        <activity
            android:name=".View.HelloActivity"
            android:screenOrientation="portrait"
            android:theme="@style/QMUI.Compat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>